@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@600&family=Roboto:wght@400;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

/* here we design nav bar with css  */

nav {
  width: 100%;
  height: 80px;
  background-color: transparent;
  padding: 0px 30px;
}

.nav-logo {
  width: 35%;
  float: left;
}

.nav-logo h1 {
  font-size: 40px;
  font-family: "roboto";
  font-weight: bolder;
  line-height: 75px;
  color: rgb(243, 173, 32);
  letter-spacing: 2px;
}

nav h3 {
  display: flex;
  align-items: center;
  float: left;
  justify-content: center;
  padding: 0 30px;
  line-height: 80px;
  color: lightgreen;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

nav h3:hover {
  color: #ffff;
  transition: 0.5s;
}

.button {
  float: right;
}

.bt2 {
  padding: 20px 20px;
  background-color: #ffff;
  margin-top: 10px;
  font-family: "roboto";
  font-weight: 1000;
  border: none;
  border-radius: 4px;
  word-spacing: 1px;
  letter-spacing: 1px;
  cursor: pointer;
}

.bt2:hover {
  background-color: transparent;
  border: 1px solid #ffff;
  transition: 0.8s;
  color: lightgreen;
}

.bt {
  padding: 18px;
  margin-top: 10px;
  font-family: "roboto";
  font-weight: 800;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  word-spacing: 1px;
}

.content {
  text-align: center;
  justify-content: center;
  margin: 150px 0px;
}

.content h1 {
  font-size: 120px;
  color: #ffff;
  text-transform: uppercase;
  line-height: 130px;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  transition: 0.5s;
  cursor: pointer;
}

.content h1:nth-child(1):hover {
  -webkit-text-stroke: 0.8px lightgreen;
  color: transparent;
  cursor: pointer;
}
.content h1:nth-child(3):hover {
  -webkit-text-stroke: 0.2px orange;
  color: transparent;
  cursor: pointer;
}

.content h1:nth-child(1) {
  line-height: 180px;
  color: lightgreen;
  word-spacing: 50px;
}
.content h1:nth-child(3) {
  color: orange;
  letter-spacing: 2px;
}

.content span {
  width: 210px;
  height: 20px;
  font-size: 25px;
  color: white;
  padding: 20px;
  justify-content: center;
  border-radius: 50px;
  object-position: center;
  border: 2px solid lightgreen;
  line-height: 100px;
  margin: 0px 5px;
}

.content span:hover {
  color: black;
  font-weight: 900;
  background-color: lightgreen;
  border: 2px solid white;
  transition: 1s;
  cursor: pointer;

  margin: 0 50px;
}

.scroll-bt h5 {
  color: #ffff;
  font-size: 18px;
  position: absolute;
  left: 50%;
  bottom: 6%;
  transform: translate(-50%, 0);
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#main
{

position: relative;

}



#page1
{
background: #ffff;
position: absolute;
height: 70vh;
width: 100%;
text-align: center;

}

.page1content
{
  
  padding: 5rem 13rem;

  
  
}
.page1content h3
{
text-align: center;
align-items: center;
color: navy;
font-size: 40px;
font-weight: bolder;
letter-spacing: 1px;
animation: blink 1s linear infinite;
animation-duration: 1.5s;



}

@keyframes blink{
0%{opacity: 0;}
50%{opacity: 1;}
100%{opacity: 2;}
}

.page1content p{
margin-top: 30px;
justify-content: center;
text-align: justify;
text-align-last:center ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
line-height: 21px
}

.page1content h4{

margin-top: 30px;
text-align: center;
font-size: 20px;
color: rgb(203, 37, 37);
margin-bottom: 40px;


}

.page1content button{

margin-top:50px;
display: block;
margin: 0 auto;
padding: 10px 25px;
color: white;
font-size: 15px;
line-height: 21px;
background-color: #141853;
border-radius: 6px;
cursor: pointer;


}

